@layer base {
	@layer base {
		:root {
			--radius: 0.5rem;

			/**
			* @tokens Light Theme
			* @presenter Color
			*/

			--background: var(--secondary-bg);
			--foreground: 0 0% 3.9%;

			--primary: 244 83% 60%;
			--primary-hover: 244 83% 67%;
			--primary-foreground: 0 0% 100%;

			--secondary: 0 0% 96.1%;
			--secondary-foreground: 0 0% 9%;

			--card: 0 0% 100%;

			--card-foreground: 0 0% 3.9%;

			--popover: 0 0% 100%;

			--popover-foreground: 0 0% 3.9%;

			--muted-foreground: 0 0% 45.1%;

			--accent: 142 71% 45%;

			--accent-foreground: 145 80% 10%;

			--destructive: 0 72% 51%;

			--destructive-foreground: 0 0% 100%;

			--border: 0 0% 89.8%;

			--input: 0 0% 89.8%;

			--ring: 0 0% 3.9%;

			--chart-1: 173 58% 39%;
			--chart-2: 12 76% 61%;
			--chart-3: 197 37% 24%;
			--chart-4: 43 74% 66%;
			--chart-5: 27 87% 67%;

			/** Base **/
			--primary-accent: 244 83% 60%;
			--primary-accent-hover: 244 83% 67%;
			--primary-fg: 244 83% 60%;
			--primary-bg: 210 40% 98%;
			--primary-bg-hover: 214 32% 91%;
			--primary-border: 213 27% 84%;
			--secondary-accent: 244 83% 60%;
			--secondary-fg: 215 25% 27%;
			--secondary-bg: 0 0% 100%;
			--secondary-bg-hover: 210 40% 96%;
			--secondary-border: 214 32% 91%;
			--tertiary-accent: 215 16% 47%;
			--muted: 215 16% 47%;

			/** Inverse **/
			--inverse-primary-bg: 222 47% 11%;
			--inverse-secondary-bg: 217 33% 17%;
			--inverse-hover: 215 19% 35%;
			--inverse-active: 215 16% 47%;
			--inverse-border: 215 19% 35%;
			--inverse-muted: 215 20% 65%;
			--inverse-secondary-fg: 214 32% 91%;
			--inverse-primary-fg: 210 40% 98%;

			/** Status **/
			--status-default: 222 47% 11%;
			--status-default-hover: 217 33% 17%;
			--status-default-border: 215 25% 27%;
			--status-default-muted: 215 20% 65%;
			--status-default-bg-hover: 214 32% 91%;
			--status-default-bg: 210 40% 96%;
			--status-default-fg: 210 40% 98%;
			--status-info: 201 96% 32%;
			--status-info-hover: 200 98% 39%;
			--status-info-bg: 204 100% 97%;
			--status-info-bg-hover: 204 94% 94%;
			--status-info-border: 201 94% 86%;
			--status-success: 142 72% 29%;
			--status-success-hover: 142 76% 36%;
			--status-success-bg: 138 76% 97%;
			--status-success-bg-hover: 141 84% 93%;
			--status-success-border: 141 79% 85%;
			--status-warning: 32 95% 44%;
			--status-warning-hover: 38 92% 50%;
			--status-warning-bg: 33 100% 96%;
			--status-warning-bg-hover: 34 100% 92%;
			--status-warning-border: 32 98% 83%;
			--status-error: 0 74% 42%;
			--status-error-hover: 0 72% 51%;
			--status-error-bg: 0 86% 97%;
			--status-error-bg-hover: 0 93% 94%;
			--status-error-border: 0 96% 89%;
			--status-error-primary-border: 0 94% 82%;
			--status-error-secondary-border: 0 96% 89%;

			/** Alpha **/
			--alpha-03: 210 40% 96% / 3%;
			--alpha-05: 210 40% 96% / 5%;
			--alpha-08: 210 40% 96% / 8%;
			--alpha-10: 210 40% 96% / 10%;
			--alpha-20: 210 40% 96% / 20%;
			--alpha-30: 210 40% 96% / 30%;
			--alpha-40: 210 40% 96% / 40%;
			--alpha-50: 210 40% 96% / 50%;
			--alpha-60: 210 40% 96% / 60%;
			--alpha-70: 210 40% 96% / 70%;
			--alpha-80: 210 40% 96% / 80%;
			--alpha-90: 210 40% 96% / 90%;

			--alpha-high-03: 222 47% 11% / 3%;
			--alpha-high-05: 222 47% 11% / 5%;
			--alpha-high-08: 222 47% 11% / 8%;
			--alpha-high-10: 222 47% 11% / 10%;
			--alpha-high-20: 222 47% 11% / 20%;
			--alpha-high-30: 222 47% 11% / 30%;
			--alpha-high-40: 222 47% 11% / 40%;
			--alpha-high-50: 222 47% 11% / 50%;
			--alpha-high-60: 222 47% 11% / 60%;
			--alpha-high-70: 222 47% 11% / 70%;
			--alpha-high-80: 222 47% 11% / 80%;
			--alpha-high-90: 222 47% 11% / 90%;

			/** Autofill **/
			--autofill-bg: 213 100% 96%;

		}

		.dark {
			/**
			* @tokens Dark Theme
			* @presenter Color
			*/

			--foreground: 0 0% 98%;
			--card: 0 0% 3.9%;
			--card-foreground: 0 0% 98%;
			--popover: 0 0% 3.9%;
			--popover-foreground: 0 0% 98%;
			--primary: 210 40% 98%;
			--primary-hover: 214 32% 91%;
			--primary-foreground: 0 0% 9%;
			--secondary: 0 0% 14.9%;
			--secondary-foreground: 0 0% 98%;
			--muted-foreground: 0 0% 63.9%;
			--accent: 210 40% 98%;
			--accent-foreground: 0 0% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 0 0% 98%;
			--border: 0 0% 14.9%;
			--input: 0 0% 14.9%;
			--ring: 0 0% 83.1%;

			--chart-1: 220 70% 50%;
			--chart-2: 340 75% 55%;
			--chart-3: 30 80% 55%;
			--chart-4: 280 65% 60%;
			--chart-5: 160 60% 45%;

			/** Base **/
			--primary-accent: 210 40% 98%;
			--primary-accent-hover: 214 32% 91%;
			--primary-fg: 210 40% 98%;
			--primary-border: 215 19% 35%;
			--primary-bg: 229 84% 5%;
			--primary-bg-hover: 215 25% 27%;
			--secondary-accent: 210 40% 98%;
			--secondary-fg: 214 32% 91%;
			--secondary-border: 215 25% 27%;
			--secondary-bg: 222 47% 11%;
			--secondary-bg-hover: 217 33% 17%;
			--tertiary-accent: 215 20% 65%;
			--muted: 215 20% 65%;

			/** Inverse **/
			--inverse-primary-bg: 210 40% 98%;
			--inverse-secondary-bg: 210 40% 96%;
			--inverse-hover: 213 27% 84%;
			--inverse-active: 215 20% 65%;
			--inverse-border: 213 27% 84%;
			--inverse-muted: 215 16% 47%;
			--inverse-secondary-fg: 215 25% 27%;
			--inverse-primary-fg: 222 47% 11%;

			/** Status **/
			--status-default: 210 40% 98%;
			--status-default-hover: 210 40% 96%;
			--status-default-border: 214 32% 91%;
			--status-default-muted: 215 16% 47%;
			--status-default-bg-hover: 215 25% 27%;
			--status-default-bg: 217 33% 17%;
			--status-default-fg: 222 47% 11%;
			--status-info: 200 98% 39%;
			--status-info-hover: 199 89% 48%;
			--status-info-bg: var(--secondary-bg-hover);
			--status-info-bg-hover: var(--primary-bg-hover);
			--status-info-border: 202 80% 24%;
			--status-success: 142 76% 36%;
			--status-success-hover: 142 71% 45%;
			--status-success-bg: var(--secondary-bg-hover);
			--status-success-bg-hover: var(--primary-bg-hover);
			--status-success-border: 144 61% 20%;
			--status-warning-bg: var(--secondary-bg-hover);
			--status-warning-bg-hover: var(--primary-bg-hover);
			--status-warning-border: 28 73% 26%;
			--status-error-bg: var(--secondary-bg-hover);
			--status-error-bg-hover: var(--primary-bg-hover);
			--status-error-border: 0 63% 31%;
			--status-error-primary-border: 0 70% 35%;
			--status-error-secondary-border: 0 63% 31%;

			/** Alpha **/
			--alpha-03: 222 47% 11%/ 3%;
			--alpha-05: 222 47% 11% / 5%;
			--alpha-08: 222 47% 11% / 8%;
			--alpha-10: 222 47% 11% / 10%;
			--alpha-20: 222 47% 11% / 20%;
			--alpha-30: 222 47% 11% / 30%;
			--alpha-40: 222 47% 11% / 40%;
			--alpha-50: 222 47% 11% / 50%;
			--alpha-60: 222 47% 11% / 60%;
			--alpha-70: 222 47% 11% / 70%;
			--alpha-80: 222 47% 11% / 80%;
			--alpha-90: 222 47% 11% / 90%;

			--alpha-high-03: 0 0% 100% / 3%;
			--alpha-high-05: 0 0% 100% / 5%;
			--alpha-high-08: 0 0% 100% / 8%;
			--alpha-high-10: 0 0% 100% / 10%;
			--alpha-high-20: 0 0% 100% / 20%;
			--alpha-high-30: 0 0% 100% / 30%;
			--alpha-high-40: 0 0% 100% / 40%;
			--alpha-high-50: 0 0% 100% / 50%;
			--alpha-high-60: 0 0% 100% / 60%;
			--alpha-high-70: 0 0% 100% / 70%;
			--alpha-high-80: 0 0% 100% / 80%;
			--alpha-high-90: 0 0% 100% / 90%;

		}

		.gramax {
			/**
			* @tokens Gramax Theme
			* @presenter Color
			*/

			/** Base **/
			--primary-accent: 0 0% 9%;
			--primary-accent-hover: 0 0% 15%;
			--primary-fg: 0 0% 9%;
			--primary-border: 0 0% 83%;
			--primary-bg: 0 0% 98%;
			--primary-bg-hover: 0 0% 90%;
			--secondary-accent: 0 0% 9%;
			--secondary-fg: 0 0% 25%;
			--secondary-border: 0 0% 90%;
			--secondary-bg: 0 0% 100%;
			--secondary-bg-hover: 0 0% 96%;
			--tertiary-accent: 0 0% 45%;
			--muted: 0 0% 45%;
		}

		.quiz {
			/**
			* @tokens Quiz Theme
			* @presenter Color
			*/

			/** Base **/
			--primary-accent: 200 98% 39%;
			--primary-accent-hover: 199 89% 48%;
			--primary-fg: 222 47% 11%;
			--primary-border: 213 27% 84%;
			--primary-bg: 198 63% 97%;
			--primary-bg-hover: 197 61% 92%;
			--secondary-accent: 222 47% 11%;
			--secondary-fg: 215 25% 27%;
			--secondary-border: 214 32% 91%;
			--secondary-bg: 0 0% 100%;
			--secondary-bg-hover: 210 40% 96%;
			--tertiary-accent: 215 16% 47%;
			--muted: 215 16% 47%;
		}
	}
}
